body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
	position: relative;
}


#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's behind other content */
}

#flipbook {
    width: 800px;
    height: 600px;
    background-color: #FFFFFF; /* Light yellow background */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    position: relative;
    z-index: 0;	

	



}


.page1, .page2 {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #e4440a;
}

.page2 {
    background-color:#e4440a;
    position: relative;
    z-index: 1;
    overflow: visible; /* Ensure content inside is not clipped */
}

.page1 .content,.page2 .content{
    padding: 20px;
    box-sizing: border-box;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative; /* Ensure the content div is the reference point */
}

.page2 .division {
    flex: 1; /* Make the divisions take up equal space */
    margin: 10px; /* Add some space between the divisions */
    text-align: center;
}

.page1 .division img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire div */
}

.page2 .division img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire div */
}
/* If the img is outside of the slider, adjust its z-index */
.page2 img {
    position: relative;
    z-index: 4; /* Higher than other elements */
}

.page1 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
	position: relative; /* Ensure the content div is the reference point */
}

.division a {
    text-decoration: none;
    color: inherit;
}

.division p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.page2 .division p {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* Media query for tablets (up to 768px) */
@media (max-width: 768px) {
    .page2 .content {
        padding: 5px; /* Reduce padding on tablets */
    }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
    .page2 .content {
        padding: 2px; /* Further reduce padding on mobile phones */
    }
}

/* Container for the slider */
.slider-container {
     position: absolute;
    bottom: 28px; /* Increase this value to create more space */
    width: 280px; /* Fixed width */
    max-width: 280px; /* Ensure the container matches the image width */
    height: 125px;
    z-index: 1000;
    overflow: hidden;
    display: flex;
     /* left: 45%;  Center the container */

  left: calc(50% - 140px); /* Center horizontally, adjust based on half the width (280px / 2) */
   transform: translateX(-15%); 


 	/*transform: translateX(0);  Remove transform as we directly calculate the center */
}

.slider {
position: relative;
    width: 3360px; /* For 12 slides of 280px each */
    height: 100%; /* Match the container height */ 
   display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 /* animation: 30s cubic-bezier(1, 0.95, 0.565, 1)  sliding infinite;*/
  animation: sliding 40s infinite;   /*  Adjust as necessary */
}
.slide {
  position: relative;
	width: 100%;
  min-width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
z-index: 1; /* Lower z-index for the image */
}
.slide .caption {
  position: absolute;
  left: 0;
  bottom: 5%;
  font-size: .65rem;
  font-weight: .25;
  color: white;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: .5rem 2rem;
  border-radius: 0 1rem 1rem 0;
  z-index: 2; /* Make sure this is higher than the image */
  display: block; /* Ensure the caption is displayed */

}

.slide.one {
  background: rgb(182, 19, 109);
}
.slide.two {
  background: rgb(255, 64, 64);
}
.slide.three {
  background: rgb(11, 173, 188);
}
.slide.four {
  background: rgb(11, 188, 14);
}
.slide.five {
  background: rgb(173, 11, 188);
}


@keyframes sliding {
  0%, 8.33% {
    transform: translateX(0%); /* First slide */
  }
  16.66%, 16.66% {
    transform: translateX(-100%); /* Second slide */
  }
  25%, 25% {
    transform: translateX(-200%); /* Third slide */
  }
  33.33%, 33.33% {
    transform: translateX(-300%); /* Fourth slide */
  }
  41.66%, 41.66% {
    transform: translateX(-400%); /* Fifth slide */
  }
  50%, 50% {
    transform: translateX(-500%); /* Sixth slide */
  }
  58.33%, 58.33% {
    transform: translateX(-600%); /* Seventh slide */
  }
  66.66%, 66.66% {
    transform: translateX(-700%); /* Eighth slide */
  }
  75%, 75% {
    transform: translateX(-800%); /* Ninth slide */
  }
  83.33%, 83.33% {
    transform: translateX(-900%); /* Tenth slide */
  }
  91.66%, 91.66% {
    transform: translateX(-1000%); /* Eleventh slide */
  }
  100%, 100% {
    transform: translateX(-1100%); /* Twelfth slide */
  }
}




/* YOU TUBE CSS MODEL  */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 25%; /* Set width to 25% of the page */
  max-width: 400px; /* Optional max width for larger screens */
}

#youtubeVideo {
  width: 100%; /* 100% width of the modal content */
  height: 225px; /* Adjust height as needed (e.g., 225px for a 16:9 aspect ratio) */
}

  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 315px; /* You can adjust the height */
}


















/* Media query for tablets (up to 768px) */
@media (max-width: 768px) {
    .slider-container {
        max-width: 400px; /* Adjust the max-width for tablets */
    }
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
    .slider-container {
        max-width: 300px; /* Adjust the max-width for mobiles */
        height: 120px; /* Adjust height for mobile */
    }
}    

.arrow {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
	z-index: 2; /* Ensure the arrows are above the flipbook */

}

#left-arrow {
    left: -5px; /* Adjust to position the arrow overlapping the left side */
}

#right-arrow {
    right: -5px; /* Adjust to position the arrow overlapping the right side */
}

.arrow img {
    width: 100%;
    height: 100%;
}

